.isa {
    background-color: rgb(18, 0, 53);
    /* background-image: url(/seattle1.jpeg);  */
    background-repeat: no-repeat;
    background-position: left;

    min-height: 70vh;
    display: flex; 
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
  }

  .container-isa {
    width: 100%;
    padding-left: 15%s;
    padding-right: 15%;
    margin-right: 15%;
    margin-left: 15%; 
    
}

.text-container {
  border-left:2px solid palevioletred;
}

  .header-text {
    text-align: left;
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #e2dcfa;
  }

  .p-text {
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: lighter;
    color:#b7a8fc;

    /* border-left: 2px solid rgb(252, 124, 162); */
  }
 
  .Image {
    height: 20vmin;
    pointer-events: none;
    width: 200px;
    height: 200px;
    
    overflow:hidden;
    border-radius: 50%;
    border-color: rgb(252, 124, 162);
    border-style: solid;
    border-width: 2.5px;
  }
  
  .profile-pic {
    margin-top: 10px;
    display: inline; 
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }