.isa {
    background-color: rgb(18, 0, 53);
    /* background-image: url(/seattle1.jpeg);  */
    background-repeat: no-repeat;
    background-position: left;

    min-height: 80vh;
    display: flex; 
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 15%;
    
  }

  .container-isa {
    /* max-width: 100%; */
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    margin-right: 15%;
    margin-left: 15%; 
    
}

.text-container {
  /* in case i want the vertical pink line in this section
  border-left: 2.5px solid rgb(252, 124, 162); */
  /* border-top: 2.5px solid rgb(252, 124, 162); */
  /* padding-left: 5%; */
  /* padding-left: 2.5%; */
  
}

  .header-text {
    text-align: left;
    font-size: xxx-large;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #e2dcfa;
  }

  .p-text {
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1.5em;
    font-weight: 400;
    /* font-weight: lighter; */
    color:#b7a8fc;

    /* border-left: 2px solid rgb(252, 124, 162); */
  }

  .navigation-text {
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: 400;
    color: rgb(255, 66, 123);
    text-decoration: none;
    margin-right: 2.5%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  .Image {
    height: 20vmin;
    pointer-events: none;
    width: 200px;
    height: 200px;
    
    overflow:hidden;
    border-radius: 50%;
    border-color: rgb(255, 66, 123);
    border-style: solid;
    border-width: 2.5px;
  }
  
  .profile-pic {
    margin-top: 10px;
    display: inline; 
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }