.bar {
    background-color: rgb(18, 0, 53);
    /* border-bottom:1px solid white; */
    min-height: 7vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.container_bar{
    margin-right: 15%;
    margin-left: 15%; 
}

.text {
    /* padding-left: 15%; */
    /* padding-right: 5%; */
   
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: 400;
    color: #b7a8fc;
  }

  .github-link {
      text-align: right;
      margin-left: 65%;
      margin-right: 2.5%;
      color: #b7a8fc;
      /* font-size: 1em; */
      text-decoration: none;
      /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
      /* padding-left: 0px;
      padding-right: 5px; */
      padding-top: 0px;
      padding-bottom: 5px;
      
     
     
  }

  .linkedin-link {
    text-align: right;
    margin-right: 2.5%;
    color:#b7a8fc;
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
      /* border-left: 1px solid rgb(255, 248, 170); */
      /* border-top: 1px solid rgb(255, 248, 170); */
      padding-left: 0px;
      /* padding-right: 5px; */
      padding-top: 0px;
      padding-bottom: 5px;
     
  }

  .email-link {
    text-align: right;
    margin-right: 2.5%;
    color:#b7a8fc;
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
    
      padding-bottom: 5px;
     
  }

  .resume-link {
    text-align: right;
    color:rgb(255, 66, 123);
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
    
      padding-bottom: 5px;
     
  }