.bar {
    background-color: rgb(18, 0, 53);
    /* border-bottom:1px solid white; */
    min-height: 7vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    overflow-x: hidden;
}

.container_bar{
    max-width: 100%;
    margin-right: 15%;
    margin-left: 15%; 
}

.text {
    text-decoration: none;
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: 400;
    color: #b7a8fc;
  }

  .align-right {
    align-items: right;
    float: right;
    text-align: right;
  }

  .github-link {
      
      text-align: right;
      margin-right: 5%;
      color: #b7a8fc;
      text-decoration: none;
      
     
     
  }

  .linkedin-link {
    text-align: right;
    margin-right: 5%;
    color:#b7a8fc;
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
      /* border-left: 1px solid rgb(255, 248, 170); */
      /* border-top: 1px solid rgb(255, 248, 170); */
      padding-left: 0px;
      /* padding-right: 5px; */
      /* padding-top: 0px;
      padding-bottom: 5px; */
     
  }

  .email-link {
    text-align: right;
    margin-right: 5%;
    color:#b7a8fc;
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
    
      /* padding-bottom: 5px; */
     
  }

  .resume-link {
    text-align: right;
    color:rgb(255, 66, 123);
    /* font-size: 1em; */
    text-decoration: none;
    /* border-bottom:1px solid rgb(255, 248, 170); */
      /* border-right:1px solid rgb(255, 248, 170); */
    
      /* padding-bottom: 5px; */
     
  }