.bar {
    background-color: rgb(18, 0, 53);
    /* border-bottom:1px solid white; */
    min-height: 7vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text {
    padding-left: 15%;
    padding-right: 5%;
   
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1em;
    font-weight: 400;
    color: #b7a8fc;
  }

  .github-link {
      margin-left: 60%;
      color: #b7a8fc;
      font-size: 1em;
      text-decoration: none;
      border-bottom:1px solid rgb(255, 248, 170);
      border-right:1px solid rgb(255, 248, 170);
      padding-left: 0px;
      padding-right: 5px;
      padding-top: 0px;
      padding-bottom: 5px;
      border-bottom-right-radius: 10%;
     
     
  }

  .linkedin-link {
    margin-left: 2.5%;
    color:#b7a8fc;
    font-size: 1em;
    text-decoration: none;
    border-bottom:1px solid rgb(255, 248, 170);
      border-right:1px solid rgb(255, 248, 170);
      /* border-left: 1px solid rgb(255, 248, 170); */
      /* border-top: 1px solid rgb(255, 248, 170); */
      padding-left: 0px;
      padding-right: 5px;
      padding-top: 0px;
      padding-bottom: 5px;
     
  }

  .email-link {
    margin-left: 2.5%;
    color:#b7a8fc;
    font-size: 1em;
    text-decoration: none;
    border-bottom:1px solid rgb(255, 248, 170);
      border-right:1px solid rgb(255, 248, 170);
      padding-left: 0px;
      padding-right: 5px;
      padding-top: 0px;
      padding-bottom: 5px;
     
  }