.projects {
    background-color: rgb(18, 0, 53);
    /* background-image: url(/seattle1.jpeg);  */
    background-repeat: no-repeat;
    background-position: left;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
  }

  .container {
    width: 100%;
    /* padding-left: 15%;
    padding-right: 15%; */
    margin-right: 15%;
    margin-left: 15%;
    
}

.project-container {
    border-right: 2.5px solid rgb(252, 124, 162);
    margin-right: 15%;
    padding-right: 5%;
    
  }

.header {
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-bottom: 40%;
    text-align: right;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1.5em;
    font-weight: 400;
    color: #b7a8fc;
  }