.skills {
    background-color: rgb(18, 0, 53);
    /* background-image: url(/seattle1.jpeg);  */
    background-repeat: no-repeat;
    background-position: left;

    min-height: 80vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    
    
  }

.skills-container {
    clear: right;
    display: grid;
    height: auto;
    
    border-left: 2.5px solid rgb(255, 66, 123);
    border-bottom: 2.5px solid rgb(255, 66, 123);

    margin-right: 35%;
    margin-left: 15%;
    margin-bottom: 0%;
    margin-top: 0%;

    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    
  }

  .technologies{
    margin-top: 2.5%;
    margin-right: 10%;
    
    float: left;

    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: medium;
    font-weight: lighter;
    color:#b7a8fc;

    list-style-type: circle;
  }

  .courses{
    margin-top: 2.5%;
    float: left;
    
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: medium;
    font-weight: lighter;
    color:#b7a8fc;
  }

  ul {
    list-style: none;
  }
  
  li::before {
    content: "‣ ";
    color: rgb(255, 66, 123);
  }

  .highlight {
    color:rgb(255, 66, 123);
  }

.header {
    text-align: left;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1.5em;
    font-weight: 400;
    color: #e2dcfa;;
  }