.App {
  text-align: center;
}

.App-header {
    background-color: rgb(68, 39, 124); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font: 1em Courier New;
    color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline; 
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 1s linear; */
  }
}



.App-link1 {
  color: #ffffff;
}
.App-link2 {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
